
body {

    font-family: 'Zilla Slab', 'IBM Plex serif', serif;
    background-color: #fbf8e3;
    color: #111;
  }
  
  .container {
    padding: 1.5rem 10rem;
  }
  h1 {
    
    font-size: 3rem;
    margin: 1.25rem 0;
    font-weight: 500;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    color: #32343c
  }
  h2 {
    font-size: 2rem;
    font-weight: 500;
    font-family: Poppins, Arial, Helvetica, sans-serif;
  }
  hr {
    margin: 3rem 0;
    border: 0;
    height: 1px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.15)); 
  }
  p {
    
    line-height: 1.5rem;
    color: #434343;
    font-size: 1rem;
  }
  #highlight {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.2rem;
    height: 2.2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #242334;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    transition: color 0.2s, background-color 0.2s ease-in-out;
  }
  #highlight:hover {
    color: #fff;
    background-color: #141324;
    box-shadow: 0 4px 14px -8px #000000
  }
  #highlight i {
    pointer-events: none;
  }
  .btnEntrance {
    animation-duration: 0.2s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
  }
  
  @media(max-width: 992px) {
    .container { padding: 1.25rem 6rem; }
    h1 { font-size: 2.5rem; }
    h2 { font-size: 1.75rem; }
  }
  @media(max-width:768px) {
    html { font-size: 12px; }
    .container { padding: 1rem 3rem; }
    h1 { font-size: 2rem; }
    h2 { font-size: 1.5rem; }
    hr { margin: 1.5rem 0; }
  }
  
  [contenteditable] {
    outline: 0px solid transparent;
    caret-color: transparent;
  }